[rpc_endpoints]
local = "http://127.0.0.1:8545"

[profile.default]
src = 'contracts'
out = 'anza/src/artifacts'
libs = ["node_modules", "lib"]
remappings = [
    '@optionality.io/=node_modules/@optionality.io/',
    'eth-gas-reporter/=node_modules/eth-gas-reporter/'
]
solc = "0.8.20"
gas_reports = ["Scratch", "LoanContract", "LoanContractHarness", "LoanTreasurey", "CollateralVault", "AnzaDebtMarket", "LoanCodecHarness"]
[fuzz]
runs = 300


# See more config options https://github.com/foundry-rs/foundry/tree/master/config