html {
  background-color: #5C2324;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom right, #5C2324 20%, #C69191);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

body {
  background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
  color: #FFF;
  text-shadow: 1px 1px #000;
}

h1 {
  margin: auto 0;
  color: whitesmoke;
  border-radius: 8px;
  padding: 10px;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

a:hover {
  color: #f1bfbf;
}

nav {
  padding: 8px 0;
  margin: 0 auto;
  padding-bottom: 1rem;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

th,
td {
  padding: auto;
  text-align: center;
}

th {
  color: #FFF;
  background-color: #C69191;
}

td {
  background-color: #36454f;
}

input[type="text"] {
  text-align: center;
  margin: 3px 0;
  padding: 2px 0 2px 2px;
}

.link {
  padding: 0;
  margin: 0 auto;
  color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-div {
  background-color: #282c34;
  margin: 16px 10px;
  padding: 10px;
  box-shadow: -2px -2px 2px rgba(92, 61, 61, 0.7),
    1px 1px 1px rgba(0, 0, 0, 0.3);
}